button, .button {
	width:70px;
	height:70px;
	padding: 0;
	border: 0;
}

body {
    overflow: hidden;
    cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: black;
	margin:0;
	padding:0;
	font-family: Verdana;
}

#newcolor {
	border-right:10px solid black;
	width:80px;
	float: left;
	background-color: black;
}

#locate {
	background: url(img/locate.png) no-repeat center center;
}

#locate:hover, #locate:active {
	background-color: #c1c1c2;
}

#header {
	text-align:right;
	margin:10px;
}

#main.action {
	background: url(img/gesture.png) no-repeat center center;
	position:absolute;
	height:100%;
	width:100%;
	padding: 0;
	margin:0;
	overflow: hidden;
    cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index:-10;
}

#main.control {
	color: white;
	clear: both;
}

#help {
	padding-top: 90px;
}

#help td {
	color: white;
	padding-left:10px;
	vertical-align:top;
}

#line {
	position:absolute;
	padding:0px; 
	margin:0px; 
	line-height:1px;
}

.control {
	font-family: Verdana;
}

.control h1 {
	border-bottom: 1px solid white;
	display: block;
	margin-left: 13px;
}

.control h2 {
	margin-left: 13px;
	margin-top:20px;
	margin-bottom: 5px;
}

#mapping {
	position: relative;
}

#digitalstream {
	position: relative;
	z-index: 100;
	background: white;
	opacity: 0.5;
}

#panel_mapping, #panel_drawing {
	position: absolute !important;
}

#stream {
	position: absolute;
	z-index: 1;
	overflow: hidden;
}

.msg {
	display: none;
	position: absolute;
	bottom: 10px;
	margin: 10px;
	padding: 5px;
	background: black;
	color: white;
	box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.85);
	-moz-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.85);
	-webkit-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.85);
}

.msg.error {
	box-shadow: 0px 0px 8px 3px rgba(255, 0,0, 0.85);
	-moz-box-shadow: 0px 0px 8px 3px rgba(255, 0,0, 0.85);
	-webkit-box-shadow: 0px 0px 8px 3px rgba(255, 0,0, 0.85);	
}

.msg.success {
	box-shadow: 0px 0px 8px 3px rgba(0,255,0, 0.85);
	-moz-box-shadow: 0px 0px 8px 3px rgba(0,255,0, 0.85);
	-webkit-box-shadow: 0px 0px 8px 3px rgba(0,255,0, 0.85);	
}