button, .button {
	width:70px;
	height:70px;
	padding: 0;
	border: 0;
}

body {
    overflow: hidden;
    cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: black;
	margin:0;
	padding:0;
	font-family: Verdana;
}

a {
	color: inherit;
}

#newcolor {
	border-right:10px solid black;
	width:80px;
	float: left;
	background-color: black;
}

#locate {
	background: url(img/locate.png) no-repeat center center;
}

#locate:hover, #locate:active {
	background-color: #c1c1c2;
}

#header {
	text-align:right;
	margin:10px;
}

#main.action {
	background: url(img/gesture.png) no-repeat center center;
	position:absolute;
	height:100%;
	width:100%;
	padding: 0;
	margin:0;
	overflow: hidden;
    cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index:-10;
}

#help {
	padding-top: 90px;
}

#help td {
	color: white;
	padding-left:10px;
	vertical-align:top;
}

#line {
	position:absolute;
	padding:0px; 
	margin:0px; 
	line-height:1px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.dimmer-msg {
	background: rgba(0,0,0,0.85);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	display: none;
}

.msg {
	position: relative;
	max-width: 500px;
	margin: 20px auto 0 auto;
	padding: 10px;
	background: black;
	color: white;
	border: 10px solid rgba(255, 255, 255, 0.85);
	font-size: 110%;
	line-height: 1.6;
}

.msg.error {
	border: 10px solid rgba(255, 0,0, 0.85);
}

.msg.success {
	border: 10px solid rgba(0,255,0, 0.85);
}

#main.simulation {
	margin-top: 80px;
}

#main.simulation div {
	min-height: 60px;
	background: white;
	color:black;
	width: 70px;
	height: 70px;
	float: left;
}

#main.simulation span {
	background: #aaa;
	color:#333;
	display: block;
	width: 100%;
	float :none;
}

#main.simulation {
	position: absolute;
	z-index:100;
	bottom: 0;
	background: black;
	height: 80px;
}